<div>
    <button>Bonjour Bonjour</button>
    <div>
        {{ runtimeTranslation phrase='{"0":"Un article [[name]]","1":"Les articles [[name]]","locale":"fr-FR"}' name=myName count=myCount }}
    </div>
    <script>
        const profile = { name: 'Tom' };
        ANSWERS.translateJS('Mail maintenant [[id1]]', {id1:profile.name})
    </script>
    <button>{{ runtimeTranslation phrase='Mail maintenant [[id1]]' id1=myName }}</button>
    <div>
        {{ runtimeTranslation phrase='{"0":"L\'homme","1":"Les hommes","locale":"fr-FR"}' count=myCount }}
        {{ runtimeTranslation phrase='{"0":"La femme","1":"Les femmes","locale":"fr-FR"}' count=myCount }}
    </div>
    <button>L'homme</button>
    <span class="yext">L'os du chien</span>
    Le chien.
    Le: chien
</div>
